<!--
  Wrapper component for concepts
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../gid-api/gid-api.html">
<!--
`gid-auth`

A data component for authorization

    <gid-auth api-url='http://192.168.44.106:45450/test'
    username = 'abc@xyz.com' password='xxxxxxxx'
    signin = true response='{{response}}'>
    </gid-auth>
    
The property 'signin' needs to be set to 'true' for authorization

The property 'response' returns the response against the rest call
	
API endpoint:

    POST /api/security/api-token-v1

Input:
 - Username
 - Password

Sample Input: (as JSON payload)

	    {
			"UserName": "abc@xyz.com",
			"Password": "xxxxxxxx"
		}
	
Output:
	
		{
		  "token": "MTAxMjMzMTU1MTUwMjk3MjEzMzYxMDA5MDFY",
		  "user": {
		    "middleName": "",
		    "lastName": "Bhowmick",
		    "mail": "palash.bhowmick@globalids.com",
		    "firstName": "Palash"
		  },
  		  "url": "http://192.168.44.106:45450/api/"
		}

@demo demo/index.html
-->
<dom-module id="gid-auth">
  <template>
          <!-- fetch entity _path  -->
        	<gid-api entity = '{{_apiEntity}}' path-key= '{{_pathKey}}' path='{{_path}}'></gid-api>
        <!--  fetch entity path -->
        
         <!-- fetch concept details -->	
			<gid-api auto=false 
				method="POST" api-content-type = "application/x-www-form-urlencoded"
				api-url={{_authUrl}} response={{_authResponse}}
				error= '{{_authError}}' request-body={{_authReqBody}}
				api-params={{_authParams}} api-timeout={{_authTimeout}}> </gid-api>			
	    <!-- fetch concept details -->

  </template>
  <script>
    (function() {
     'use strict';
      Polymer({
        is:'gid-auth',
        properties:{
        	    /*Base url*/
	        	apiUrl:{
	            	type: String,
	    	        notify: true,
	    	        value: ''
	    	 	},
	    	 	/*Url sent to gid-api*/
        	    _authUrl:{
                	type: String,
        	        notify: true
        	 	},
        	 	/*Timeout sent to gid-api*/
        	 	_authTimeout : {
            		type: Number,
        	        notify: true,
        	        value : 0
        	    },
        	    /*Response sent to gid-api. This is a private property*/
        	    _authResponse : {
	     	  		type : Object,
	     	  		notify : true,
	     	  		observer : '_authResponseReceived'
        	  	},
        	  	/*Error sent to gid-api. This is a private property*/
        	  	_authError : {
	     	  		type : Object,
	     	  		notify : true,
	     	  		observer : '_authErrorReceived'
        	  	},
        	  	/*Params sent to gid-api*/
        	  	_authParams : {
	     	   		type: String,
	     	   		notify : true
     	   	    },
     	   	    /*Request body sent to gid-api*/
	     	   	_authReqBody : {
	     	   		type: Object,
	     	   		notify : true
	 	   	    },
	 	   	    /*Object for storing success/error response*/
     	   	    response: {
     	          type: Object,
     	          value: {},
     	          notify: true
     	        },
     	        /*Username parameter*/
     	       	username: {
     	        	type: String,
     	        	value : '',
     	        	notify :  true
     	        },
     	        /*Password parameter*/
     	       	password: {
    	        	type: String,
    	        	value : '',
    	        	notify :  true
    	        },
    	        /*The api path key*/
    	        _pathKey: {
                	   type: String,
                    notify: true,
                    value: ''
                },
                /*The api path*/
                _path: {
               	   type: String,
                   notify: true,
                   value: '',
                   observer: '_pathReceived'
                },
                /*Api entity sent to gid-api*/
                _apiEntity: {
               	   type: String,
                   notify: true
                },
                /*The property 'signin' needs to be set to 'true' for authorization*/
                signin: {
            	   type: Boolean,
            	   notify: true,
            	   value: false,
            	   observer: '_signInUser'
                }
               
        },
        /* Success response handler */
        _authResponseReceived : function(newvalue, oldvalue){
             var tempObj = {};
              this._reset();
	          if(newvalue != null){
		             this.async(function() {
		         		this.tempObj =  newvalue;
		         		if(newvalue.hasOwnProperty("url")){
		         			this.tempObj["url"] = newvalue.url + 'v1';
		         		}
		         		this.response = this.tempObj;
		   		 	          }, 500);
	          }
         	
         },
         /* Error response handler */
         _authErrorReceived : function(newvalue, oldvalue){
             this._reset();
             if(newvalue != null){
		             this.async(function() {
		         		this.response =  newvalue.response;
		   		 	          }, 500);
	          }
         },
         /* Reset method */
         _reset: function(){
        	 this.response = {};
   		     this._apiEntity = '';
             this._path = '';
         },
         /* Observer of 'signIn' property */ 
         _signInUser: function () {
        	 if (this.signin) {
//         	 	if (!this.apiUrl) {
// 	      			//this._authUrl = this.importPath + 'assets/json/auth.json';
// 	                //this._authTimeout =  this._authTimeout - 1;
//       			}
//         		else {
					this._pathKey =  'default';
         			this._apiEntity = 'AUTH';
//          		}
         	}
				
         },
         /* Observer for api path */
         _pathReceived: function(){
         	if(this._path){
         		var res = this._path.split(/{([^}]+)}/);
         		for (var i in res) {
         			if(!res[i].startsWith("/")){
         					if(this[res[i]]){
         						res[i] = this[res[i]];
         					}
         			}
         		}
         		if(this.apiUrl){
         			var apiUrlParser = document.createElement('a');
             		apiUrlParser.href = this.apiUrl;
             		this._authUrl = apiUrlParser.origin + res.join("");
         		}
       			this._authReqBody = {"UserName" : this.username, "Password" : this.password};
       			this._authTimeout =  this._authTimeout - 1;
         		
         	}
         }
      });
    })();
  </script>
</dom-module>
